<div class="not-found-content">
    <div class="not-found-panel">
        <div class="not-found-panel-content">
            <span class="tag">404</span>
            <h1>Página não encontrada</h1>
            <div class="separator"></div>
            <p>A página que você solicitou não está disponível no momento ou não existe! Tente novamente mais tarde.</p>
            <button pButton type="button" label="Voltar" class="go-back-button" (click)="goToHome()"></button>
        </div>
    </div>
</div>
